<div class="mt-3">Your choice:</div>
<div class="row mt-4 m-auto w-50 d-flex align-items-center">
	<div class="col-sm-4">
		<form action="/fight-submit" method="POST">
			<input type="hidden" name="room_id" value="<%= getroomdetail.room_id %>">
			<input type="hidden" name="choice" value="r">
			<input type="submit" class="btn-rps btn-rock" value="">
		</form>
	</div>
	<div class="col-sm-4">
		<form action="/fight-submit" method="POST">
			<input type="hidden" name="room_id" value="<%= getroomdetail.room_id %>">
			<input type="hidden" name="choice" value="s">
			<input type="submit" class="btn-rps btn-scissor" value="">
		</form>
	</div>
	<div class="col-sm-4">
		<form action="/fight-submit" method="POST">
			<input type="hidden" name="room_id" value="<%= getroomdetail.room_id %>">
			<input type="hidden" name="choice" value="p">
			<input type="submit" class="btn-rps btn-paper" value="">
		</form>
	</div>
</div>