<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Binar Challenge FW C7</title>
	<style>
	body
	{
		font-family:arial;
		padding: 100px;
	}
	h1
	{
		margin-bottom:30px;
	}
	</style>
</head>
<body>
	<h1>Hany Luqianie - Binar Challenge FW C7</h1>
	
	Registration Page - <a href="http://localhost:2100/register">http://localhost:2100/register</a>
	<br>Login Page - <a href="http://localhost:2100/login">http://localhost:2100/login</a>
</body>
</html>